/* Extra small devices (phones) */
@media only screen and (max-width: 576px) {
  /* CSS styles for extra small devices */
}

/* Small devices (phones) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  /* CSS styles for small devices */
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* CSS styles for medium devices */
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* CSS styles for large devices */
}


@media (max-width: 1200px) {

  .text-container {
    width: 95% !important;
  }

  .about-us-wrapper .about-us-text-container > p {
    padding: 3rem 2.5rem;
    margin-top: 1.5em;
  }

  .about-us-logo-wrapper {
    display: none;
  }

  .owl-mascotte-image {
    display: none;
  }

  .app-item-container {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .app-item-container .app-item-logo {
    aspect-ratio: unset;
  }

  .app-item-container .app-item-logo > img {
    display: none;
  }

  .slide-arrow {
    opacity: 1;
    background: var(--oxford-blue);
  }

  /* The previous slide button */
  #slide-arrow-prev {
    justify-content: flex-start;
    left: -3.4rem;
    padding: 3.4rem 2.8rem 3.4rem 4rem;
  }

  /* The next slide button */
  #slide-arrow-next {
    justify-content: flex-end;
    right: -3.4rem;
    padding: 3.4rem 4rem 3.4rem 2.8rem;
  }
}
