@import url(./font.css);
@import url(./animation.css);
@import url(./custom.css);
@import url(./carousel.css);
@import url(./responsive.css);

:root {
  /* HSL */
  --electric-violet: hsla(273, 100%, 50%, 1);
  --dark-violet: hsla(281, 86%, 43%, 1);
  --tekhelet: hsla(258, 49%, 33%, 1);
  --oxford-blue: hsla(241, 100%, 8%, 1);
  --cool-gray: hsla(240, 16%, 54%, 1);
  --ultra-violet: hsla(241, 22%, 38%, 1);
  --english-violet: hsla(261, 25%, 33%, 1);
  --russian-violet: hsla(263, 35%, 25%, 1);
  --school-bus-yellow: hsla(51, 100%, 50%, 1);
  --safety-orange: hsla(28, 100%, 50%, 1);
  /* HEX */
  --white: #dfdfdf;
  --play-store-bg: #01875f;
  --apple-store-bg: #0088cc;
  /* Lengths */
  --wrapper-min-height: 100vh;
  --text-container-max-width: 85ch;
  --image-max-width: 35rem;
  /* Border */
  --border-small: .5em;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari/Opera/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: var(--wrapper-min-height);
  overflow-x: hidden;
  color: var(--white);
}

a {
  color: var(--white);
}

.wrapper {
  min-height: var(--wrapper-min-height);
}

.section-title {
  position: relative;
}

.section-title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: .05em;
  background: var(--white);
}

.text-container {
  width: min(var(--text-container-max-width), 80%);
}

.border-full-rounded {
  border-radius: 50%;
}

.border-small {
  border-radius: var(--border-small);
}

.bg-google-play {
  background: var(--play-store-bg);
}

.bg-app-store {
  background: var(--apple-store-bg);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-violet);
  padding: 2em;
  min-height: 4em;
}